--swiftversion 5.10
--indent 4
--tabwidth 4
--linebreaks lf
--trimwhitespace always
--maxwidth 120
--decimalgrouping 3,4
--commas inline
--trailingcommas always
--self remove
--patternlet hoist
--extensionacl on-extension
--importgrouping alpha
--stripunusedargs always
--header ignore
--disable wrapMultilineStatementBraces
--exclude .build
--exclude .index-build
--exclude Tartelet.xcodeproj
--exclude Packages/MenuBar/Sources/MenuBar/Internal/L10n.swift
--exclude Packages/Settings/Sources/SettingsDomain/Internal/L10n.swift
--exclude Packages/Settings/Sources/SettingsUI/Internal/Assets.swift
--exclude Packages/Settings/Sources/SettingsUI/Internal/L10n.swift
